<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/HashedInLogo.jpg" alt="..." height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" aria-current="page" href="#">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">MY WHISHLIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <fa-icon [icon]="['fas','shopping-cart']"></fa-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">
                        <fa-icon [icon]="['fas','user-circle']"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>