<div class="container">
    <div class="col-md-12">
        <h2>All Courses</h2>
    </div>
    <div class="row">
      <div class="col-lg-8">
            <div class="row-md-8">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                                <tr>
                                    <td><img src="../../../assets//HashedInLogo.jpg" alt="..." width="50px" height="50px"></td>
                                    <td>Moleskine Agenda</td>
                                    <td>Author Name</td>
                                    <td>Price</td>
                                    <td><button type="button" class="btn btn-danger btn-sm">ADD TO CART</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      </div>
      <div class="col-md-4" style=text-align:center>
        <input type="text" name="search" placeholder="Search..">
        <h5>YOUR CART DETAILS</h5>
      </div>
    </div>
  </div>